#login_container {
	float: center;
	width: 25vw;
	height: 48vh;
	text-align: center;
	margin: 1% auto;
		border: 5px solid gray;
		border-radius: 20px;
}

a {
	text-decoration: none;
	color: #c8c8c8;
}

.form_control {
    border-color: gray;
    box-shadow: none;
    outline: none;
}