/*   # = id   . = class   */
#login_container {
	float: center;
	width: 25vw;
	text-align: center;
	margin: 1% auto;
	border: 5px solid gray;
	border-radius: 20px;
}

a {
	text-decoration: none;
	color: #969696;
}

.form-control:focus {
    border-color: gray;
    box-shadow: none;
    outline: none;
}

.btn.btn-primary {
    width: 99%;
    color: white;
    background-color: #c8c8c8;
    border: none;
    margin-top: 2%;
    margin-bottom: 4%;
}

.s1 {
    width: 95%;
    margin: 10px auto;
}

#line::after {
    content: '';
    position: absolute;
    margin-left: 0.6%;
    margin-top: 0.1%;
    width: 1px;
    height: 20px;
    background-color: gray;
}

/* post */
.post-container0 {
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    width: 50%;
    min-width: 500px;
}
.post-container1 {
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    width: 50%;
    min-width: 500px;
}
.post-container2 {
    margin: 1% auto;
    background: white;
    padding: 20px;
    width: 50%;
    min-width: 250px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.post-container3 {
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    width: 50%;
    min-width: 500px;
}
.nickname {
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.post-content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
    white-space: pre-wrap;
    word-break: break-all; /* 영어도 길면 자동으로 줄바꿈되게 도와줌 */
}
.post-info {
    overflow:hidden;
    text-overflow: ellipsis;
    display: flex; /* 자식 요소 가로 배치 */
    justify-content: space-between; /* 자식 요소들을 컨테이너의 양쪽 끝에 맞춰 배치 */
    font-size: 12px;
    color: #888;
    white-space: pre-wrap;
    word-break: break-all; /* 영어도 길면 자동으로 줄바꿈되게 도와줌 */
}
.input-field {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}